body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
}

.create-quiz-container {
  max-width: 800px;
  margin: auto;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #e9e7ff;
  border-bottom: 1px solid #ccc;
}

.top-nav .logo {
  font-weight: bold;
}

.top-nav .nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-nav a {
  text-decoration: none;
  color: black;
}

.profile-img {
  border-radius: 50%;
}

.breadcrumb {
  font-size: 14px;
  padding: 10px 20px;
  color: #666;
}

.form-card {
  background: #e9e7ff;
  padding: 20px;
  border-radius: 10px;
}

.quiz-image {
  text-align: center;
}

.quiz-image img {
  width: 100px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  width: 100%;
}

.row {
  display: flex;
  gap: 10px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-btn {
  background-color: #ddd;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.create-btn {
  background-color: #5a67d8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.cancel-btn:hover {
  background-color: #bbb;
}

.create-btn:hover {
  background-color: #434190;
}

.rules-section {
  border: 1px solid #4682eb;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f9faff;
}

.rules-section h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
}

.rules-section ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

.rules-section li {
  margin-bottom: 5px;
  font-size: 14px;
  color: #444;
}


.rules-section p {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
}

.timezone-select {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border 0.3s;
}

.timezone-select:focus {
  border: 1px solid #007bff;
}